<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".PlaygroundApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/sym_def_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinancistoPlayground"
        tools:targetApi="31">
        
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FinancistoPlayground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.AccountListActivity"
            android:exported="false"
            android:label="@string/accounts_title" />
            
        <activity
            android:name=".ui.TransactionListActivity"
            android:exported="false"
            android:label="@string/transactions_title" />
            
        <activity
            android:name=".ui.RunningBalanceTestActivity"
            android:exported="false"
            android:label="@string/running_balance_test_title" />
            
        <!-- New ViewModel Demo Activities -->
        <activity
            android:name=".ui.BlotterViewModelDemoActivity"
            android:exported="false"
            android:label="Blotter ViewModel Demo" />
            
        <activity
            android:name=".ui.AccountViewModelDemoActivity"
            android:exported="false"
            android:label="Account ViewModel Demo" />
            
        <activity
            android:name=".ui.TransactionFormDemoActivity"
            android:exported="false"
            android:label="Transaction Form Demo" />
            
        <!-- Modern Fragment-based Activity -->
        <activity
            android:name=".activity.ModernMainActivity"
            android:exported="true"
            android:label="Modern Main Activity"
            android:theme="@style/Theme.FinancistoPlayground" />
            
    </application>

</manifest>
